h1{
  text-align: center;
}
.create-product{
  margin-left: 5%;
  background-color: white;
  padding: 20px;
  .content{
    margin: 15px 0;
    width: 90%;
    height: 25px;
  }
  .post-product{
    width: 60px;
    height: 40px;
    background-color: #1890ff;
    color: white;
  }
}