.productDetail{
  width: 280px;
  border: 1px solid gray;
  margin-left: 20px;
  margin-bottom: 20px;
  float: left;
}
img {
  height: 200px;
  width: 260px;
}
.productInfo{
  margin-left: 15px;
}
.add-product {
  font-size: 30px;
  float: right;
  cursor: pointer;
}
li{
  list-style: none;
}