.header {
  padding: 0 20px;
  height: 50px;
  background-color: #001529;
  line-height: 50px;
  .link{
    color: white;
    padding: 15px;
    text-decoration: none;
  }
  .link.active{
     background: #1890ff;
   }

}
